/***** iPhone (landscape) *****/
@media only screen and (max-width: 1024px) {
		



.tn img {  
  width: 96%;
  height: 50vh;
  object-fit: cover;
	
}



/* NEW FOR TOGGLE */

#bassett-logo {
display: none;

}

#bassett-mobile-logo {
	display: inherit;
	width: 82px;
	height: auto;
	margin-bottom: 0;

}	

#pad {		
padding: 0;
}	

.toggle {
	display: none;}
	
#menu-bar {
	position:relative; 
	top: 0;
	float: left; 
	width: 100%; 
	height: auto;
	text-align: left; 
	padding: 4px 0 0 4px;	
	z-index: 9999999;
	display: block;
	}


#mobile-toggle {
	display: inherit;
	background-color: #1c1c1e; 
	margin: 0;
	padding: 0;
	line-height: 0;
	text-align: center;
	}

.cselect-mobile-toggle {
	display: inline-block;
	width: 100px; 
	height: 40px;
	border: none;
	background-image: url(../images/cselect-mobile-toggle-off.png);
	background-position: center center;
	background-size: contain;
}

.cselect-mobile-toggle:hover {
	display: inline-block;
	width: 100px; 
	height: 40px;
	border: none;
	background-image: url(../images/cselect-mobile-toggle-off.png);
	background-position: center center;
	background-size: contain;
	background-color: rgba(255,255,255,0.2);
}

.cselect-mobile-on {
	display: inline-block;
	width: 100px; 
	height: 40px;
	border: none;
	background-color: #eee;
	background-image: url(../images/cselect-mobile-toggle-on.png);
	background-position: center center;
	background-size: contain;
}


.bassett-mobile-on {
	display: inline-block;
	width: 100px; 
	height: 40px;
	border: none;
	background-color: #eee;
	background-image: url(../images/bassett-mobile-toggle-on.png);
	background-position: center center;
	background-size: contain;
}

.bassett-mobile-toggle {
	display: inline-block;
	width: 100px; 
	height: 40px;
	border: none;
	background-image: url(../images/bassett-mobile-toggle-off.png);
	background-position: center center;
	background-size: contain;
}

.bassett-mobile-toggle:hover {
	display: inline-block;
	width: 100px; 
	height: 40px;
	border: none;
	background-image: url(../images/bassett-mobile-toggle-off.png);
	background-position: center center;
	background-size: contain;
	background-color: rgba(255,255,255,0.2);
}



/* ORIG */


	
.mobile-only {display: inherit;}

.mobile-hide {display: none;}

.margin {margin: 4%; }

	
#menu-bar {
	position:relative; 
	top: 0;
	float: left; 
	width: 100%; 
	height: auto;
	text-align: left; 
	padding: 15px;	
	z-index: 9999999;
	display: block;
	}
	
#logo {

	display: none;

    }

#mobile-logo {
	display: inherit;
	width: 200px; 
	margin: inherit; 
	position: relative; 
	left: 0; 
	
}
	
#tagline {display: none; margin: 0; }		

#breadcrumb {font-size: 16px; font-weight: 700; position: relative; float: none; display: block; margin-bottom: 18px; text-align: center;}
#buttons 	{position: relative; float: none; display: block; bottom: 4px; text-align: center;}

a:link.red-btn 		{font-size: 14px; margin-left: 2px; margin-right: 2px; padding:4px 8px 4px 8px; }


#main {background-color: #FFF; width: 100%; float: right; display:block;}

#admin-menu {width: 100%; float: right; display: block; position: relative; top: 0; right: 0; padding: 3px 0 3px 0;  font-size: 14px;}	


.footer-contain {width: 100%; float: right; display: block;}

.footer	{text-align: center;}

h1 {font-family: 'Teko', sans-serif; color:#8f473c; font-size: 35px; line-height: 34px; margin: 0; padding: 0; font-weight: 500;}

h3 {margin-top: 18px;}

.home-txt {font-size: 18px; line-height: 26px; margin-right: 5%;}


		
.proj-txt {
    color: #FFF;
    position: absolute;
    z-index: 9;
    font-size: 20px; 
    margin: 0 auto;
    width: 100%;
        top: 60px;

 }	
 
 
.proj {
	height: 100px; 
	padding-top: 40px; 
	}
		


	

#LinkedIn {width: 40px; height: auto; margin: 20px 8px 0 0;cursor: hand; border: none; }
#Facebook {width:40px; height: auto;  margin: 20px 8px 0 0;cursor: hand; border: none; }
#Pinterest {width: 40px; height: auto;  margin: 20px 0 0 0;cursor: hand; border: none; }


#slippry {position: relative; top: 0px; }


.tn {font-size: 16px; text-align: center; border-bottom: 1px solid #ccc; padding-bottom: 7px; color: #999; padding-top: 30px;}
.tn-txt {padding-top: 7px; border-top: 1px solid #ccc;}

a:link.feature {

	height: 90px; 
	font-size: 25px; 
	padding-top: 60px; 

	}

a:hover.feature {
	font-size: 30px; 

	}		
	

.slicknav_menu {
	display:inherit;
	

}

#menu {display: none; }	



.mobile-tn{border-bottom: 1px solid #ccc; }
.desktop-tn{border-bottom: none;}

#header{height: 90px;}
#menu_container {margin: 0;}
